@import "~dragula/dist/dragula.css";

$max-height: 65vh;
$inner-max-height: $max-height - 6vh;

#dialog-container {
  max-height: $max-height;
  overflow-y: hidden;
}

.tab-content {
  max-height: $inner-max-height;
  margin: 0.5em 0 0 1em;
}

mat-tab-group {
  max-height: $max-height;
}

mat-icon {
  vertical-align: middle;
  cursor: pointer;
}
