<mat-form-field>
  <mat-select [(value)]="field">
    <mat-option *ngFor="let field of fields" [value]="field">{{field}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field id="comparator">
  <mat-select [(value)]="comparator">
    <mat-option *ngFor="let comparator of comparators"
                [value]="comparator">{{comparator.toString()}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <ng-container *ngIf="fieldHasChoices; else text_input">

    <mat-form-field>
      <input type="text" matInput [(ngModel)]="value" [matAutocomplete]="autocomplete">
    </mat-form-field>

    <mat-autocomplete #autocomplete="matAutocomplete">
      <mat-option *ngFor="let option of fieldChoicesMap.get(field)" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>

  </ng-container>
  <ng-template #text_input>
    <input matInput placeholder="Value" [(ngModel)]="value">
  </ng-template>
</mat-form-field>
