#tags-selection {
  display: flex;
  justify-content: center;
  align-content: center;
}

.column-header > div:first-child {
  display: flex !important;
  align-items: baseline !important;
}

.column-header {
  margin: 0 !important;
}

.table-cell {
  height: 1rem !important;
}

.add-columns-button {
  color: #212121;
}

mat-row {
  height: 2rem;
  min-height: 0;
}

app-save-object {
  color: black;
}
