#tags-selection {
  display: flex;
  justify-content: center;
  align-content: center;
}

.details-column {
  flex: 0 0 6rem;
}

.column-header > div:first-child {
  display: flex !important;
  align-items: baseline !important;
}

.column-header {
  margin: 0 !important;
}

.table-cell {
  height: 1rem !important;
}

.add-columns-button {
  color: #212121;
}

.mat-header-row {
  padding-top: 0.5em;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
}

mat-row {
  height: 2rem;
  min-height: 0;
}

app-save-object {
  color: black;
}
