li {
  list-style: disc inside;
  margin-left: 1rem;
}

.container {
  max-width: 34rem;
  margin: 1rem auto 0 auto;
}

.inner-container {
  max-width: 32rem;
  margin: 0 auto 0 auto;
}

#tamandua-stack {
  margin-top: 1rem;
}
