<div class="container">
  <h1 class="mat-headline">About</h1>
  <div class="inner-container">
    <p class="mat-body-1">
      Tamandua is a framework for logfile analysis and aggregation developed for internal use at the
      <a href="https://nic.phys.ethz.ch/" target="_blank">IT Services Group D-PHYS</a> which is is
      part of the <a href="https://www.ethz.ch/" target="_blank">ETH Zurich.</a>
    </p>

    <p class="mat-body-1">
      The Tamandua project consists out of two parts: the parser and the web.
    </p>

    <ul id="tamandua-stack" class="mat-body-1">
      <li><a href="https://github.com/realmar/Tamandua" target="_blank">Tamandua Parser</a></li>
      <li><a href="https://github.com/realmar/Tamandua-Web" target="_blank">Tamandua Web</a></li>
    </ul>
  </div>
</div>
