<div id="settings">
  <app-setting placeholder="Past Hours"
               type="number"
               [validationResultObservable]="pastHoursValidationObservable"
               [(data)]="pastHoursCount"></app-setting>

  <app-setting placeholder="Field Count"
               type="number"
               [validationResultObservable]="maxItemCountValidationObservable"
               [(data)]="maxItemCountPerCard"></app-setting>

  <app-setting placeholder="Interval [s]"
               type="number"
               [validationResultObservable]="intervalValidationObservable"
               [(data)]="refreshInterval"></app-setting>
</div>
