<div id="settings">
  <app-dashboard-setting placeholder="Past Hours"
                         type="number"
                         [validationResultObservable]="pastHoursValidationObservable"
                         [(data)]="pastHoursCount"></app-dashboard-setting>

  <app-dashboard-setting placeholder="Field Count"
                         type="number"
                         [validationResultObservable]="maxItemCountValidationObservable"
                         [(data)]="maxItemCountPerCard"></app-dashboard-setting>

  <app-dashboard-setting placeholder="Interval [s]"
                         type="number"
                         [validationResultObservable]="intervalValidationObservable"
                         [(data)]="refreshInterval"></app-dashboard-setting>
</div>
