pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
  background-color: #ECEFF1;
  border-radius: 5px;
  border: solid #546E7A 1px;
  padding: .5rem;
}

p {
  margin: 0;
}

app-save-object {
  position: relative;
  float: right;
}

h2 {
  display: inline-block;
}

mat-dialog-actions {
  float: right;
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.row {
  display: table-row;
}

.border {
  border-bottom: solid #CFD8DC 1px;
}

.cell {
  display: table-cell;
}

.left-cell {
  font-weight: bold;
  width: 4rem;
  vertical-align: top;
}

.right-cell {
  padding-left: 1rem;
}

.row-value {
  display: inline-block;
  cursor: pointer;
}

.spacer {
  margin-right: .2em;
}

#content {
  max-height: 84vh;
}

#code {
  font-family: monospace, monospace;
  background-color: #ECEFF1;
  padding: .5rem;
}
