#item-container {
  position: relative;

  p {
    position: relative;
    margin: 0;

    z-index: 100;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #color-bar {
    position: absolute;
    height: 100%;
    z-index: 10;
  }
}
