<div class="cont">
  <p id="label" class="mat-body-2">{{label}}</p>

  <button mat-icon-button
          (click)="toggleHasDatetime()">
    <mat-icon *ngIf="!hasDateTime">add</mat-icon>
    <mat-icon *ngIf="hasDateTime">remove</mat-icon>
  </button>

  <ng-container *ngIf="hasDateTime">
    <mat-form-field id="datepicker">
      <input matInput
             [matDatepicker]="picker"
             [(ngModel)]="date"
             placeholder="Pick a date"
             disabled>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>

    <div id="timepicker">
      <mat-form-field>
        <input matInput type="number" placeholder="H" [(ngModel)]="hours">
      </mat-form-field>
      :
      <mat-form-field>
        <input matInput type="number" placeholder="M" [(ngModel)]="minutes">
      </mat-form-field>
    </div>
  </ng-container>

</div>
