@import "./theme.scss";

@mixin pulse-loading($duration: 2s, $height: 0.4rem) {
  background-color: $primary;
  height: $height;
  width: 100%;

  animation: loading-animation $duration ease-in-out infinite;
}

@keyframes loading-animation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

