@import '~reset-css/reset.css';
//
@import '~material-design-icons/iconfont/material-icons.css';
@import './theme.scss';
//
@import '~ngx-toastr/toastr.css';
//
@import './div-table.scss';

$config: mat-typography-config();

.toast-container, text, p, span {
  @include mat-typography-level-to-styles($config, body-1);
}

html, body, app-root {
  height: 100%;
}

// Fix for regression in @angular/material 5.1.0
// Source: https://github.com/angular/material2/issues/9939
.mat-sort-header-sorted {
  .mat-sort-header-arrow {
    opacity: 1 !important;
    transform: translateY(0px) !important;
  }
}

// Fix sort arrow not centered with text
.mat-sort-header-container {
  align-items: center;
}

.inline {
  display: inline-block;
}
