<mat-form-field>
  <mat-select [(value)]="field">
    <mat-option *ngFor="let field of fields" [value]="field">{{field}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field id="comparator">
  <mat-select [(value)]="comparator">
    <mat-option *ngFor="let comparator of comparators"
                [value]="comparator">{{comparator.toString()}}
    </mat-option>
  </mat-select>
</mat-form-field>

<ng-container *ngIf="fieldHasChoices; else text_input">
  <mat-form-field>
    <input matInput
           type="text"
           placeholder="Value"
           [(ngModel)]="value"
           [matAutocomplete]="autocomplete">
    <mat-autocomplete #autocomplete="matAutocomplete">
      <mat-option *ngFor="let option of fieldChoices" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</ng-container>
<ng-template #text_input>
  <mat-form-field>
    <input matInput
           placeholder="Value"
           [(ngModel)]="value">
  </mat-form-field>
</ng-template>
