@import "../../../loading-animations/utils.scss";

#loading {
  height: 1.5rem;
  margin-left: 1.5rem;
}

.indented {
  margin-left: 2rem;
}

.mat-subheading-2 {
  margin: 0;
}

mat-progress-bar {
  margin: 1em 0 1em 0;
}
