@import "~dragula/dist/dragula.css";

@mixin light-color() {
  color: #757575;
}

app-dashboard-card {
  vertical-align: top;
}

mat-card {
  display: inline-block;
  margin: 1rem 1rem 0 0;
}

.card-wrapper {
  display: flex;
}

.drag-handle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  margin-left: auto;
  margin-right: auto;

  cursor: pointer;
  @include light-color();
}

.mat-title {
  margin: 0;
}

.inline-card {
  display: inline-block;

  $width: 15rem;
  width: $width;
  max-width: $width;

  // margin-top: .5rem !important;
}

.card-actions {
  position: absolute;
  right: 0;

  margin-right: 0.5rem;
  align-self: center;

  @include light-color();
}

#flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#settings {
  margin-top: 1rem;
}

#summary-card {
  width: 18rem;
}

#dashboard-actions {
  float: right;
}
