<div id="settings">
  <app-dashboard-setting placeholder="Past Hours"
                         type="number"
                         [dataValidationResult]="pastHoursValidationResult"
                         [(data)]="pastHoursCount"></app-dashboard-setting>

  <app-dashboard-setting placeholder="Field Count"
                         type="number"
                         [dataValidationResult]="maxItemCountValidationResult"
                         [(data)]="maxItemCountPerCard"></app-dashboard-setting>

  <app-dashboard-setting placeholder="Interval [s]"
                         type="number"
                         [dataValidationResult]="intervalValidationResult"
                         [(data)]="refreshInterval"></app-dashboard-setting>
</div>

<div id="flex-container">

  <mat-card id="summary-card">
    <mat-card-header><p class="mat-title">Summary</p></mat-card-header>
    <mat-card-content>
      <app-dashboard-overview-card
        #overview_card></app-dashboard-overview-card>
    </mat-card-content>
  </mat-card>

  <ng-container *ngFor="let row of cards">
    <mat-card>
      <mat-card-header>
        <p class="mat-title">{{row.title}}</p>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngFor="let card of row.cardData">
          <app-dashboard-card
            [data]="card"
            class="inline-card"></app-dashboard-card>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
