<div id="settings">
  <mat-form-field>
    <input matInput placeholder="Past Hours" type="number" [(ngModel)]="pastHoursCount">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Field Count" type="number" [(ngModel)]="maxItemCountPerCard">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Interval [s]" type="number" [(ngModel)]="refreshInterval">
  </mat-form-field>
</div>

<div id="flex-container">

  <mat-card id="summary-card">
    <mat-card-header><p class="mat-title">Summary</p></mat-card-header>
    <mat-card-content>
      <app-dashboard-overview-card
        #overview_card></app-dashboard-overview-card>
    </mat-card-content>
  </mat-card>

  <ng-container *ngFor="let row of cards">
    <mat-card>
      <mat-card-header>
        <p class="mat-title">{{row.title}}</p>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngFor="let card of row.cardData">
          <app-dashboard-card
            [data]="card"
            class="inline-card"></app-dashboard-card>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
