mat-divider {
  margin: 1rem 0 1rem 0;
}

#search-mask {
  margin-top: 1rem;
}

#fields, #datetime {
  vertical-align: top;
  display: inline-block;
}

#fields {
  margin-right: 1rem;
}

#add-button {
  float: right;
}
