mat-spinner {
  display: inline-block;
}

#action-buttons {
  float: right;
}

#fields, #datetime {
  vertical-align: top;
  display: inline-block;
}

#fields {
  margin-right: 1rem;
}

#add-button {
  float: right;
}

#search-button-container {
  width: 100%;
  height: 2rem;
  display: block;
}

#clear-button {
  float: left;
}
