<p>Note: I'm currently prototyping this page!</p>

<div>
  <app-setting placeholder="Sample Count"
               type="number"
               [validationResultObservable]="sampleCountValidationObservable"
               [(data)]="sampleCount"></app-setting>

  <app-setting placeholder="Sample Duration [min]"
               type="number"
               [validationResultObservable]="sampleDurationValidationObservable"
               [(data)]="sampleDuration"></app-setting>
  <span>[min]</span>

  <app-setting placeholder="Total Timespan [h]"
               type="number"
               [validationResultObservable]="totalDurationValidationObservable"
               [(data)]="totalDuration"></app-setting>
  <span>[h]</span>

  <button mat-button
          *ngIf="canSearch"
          [disabled]="isDoingRequest"
          (click)="collectData()">
    <mat-icon>refresh</mat-icon>
    <span>Refresh</span>
  </button>
  <ng-container *ngIf="isDoingRequest">
    <button mat-button
            (click)="cancelRequests()">
      <mat-icon>cancel</mat-icon>
      <span>Cancel Request</span>
    </button>
    <mat-spinner diameter="25"></mat-spinner>
  </ng-container>
</div>

<div *ngIf="hasData">
  <h1 class="mat-title">{{title}}</h1>
  <ngx-charts-line-chart [results]="chartData"
                         [view]="[1000, 600]"
                         [autoScale]="true"
                         [curve]="curve"
                         [gradient]="true"
                         [legend]="true"
                         [xAxis]="true"
                         [yAxis]="true"
                         xAxisLabel="Datetime"
                         yAxisLabel="Mail Count"
                         [xAxisTicks]="xAxisTicks"
                         [yAxisTickFormatting]="yAxisTickFormatting">
    <ng-template #seriesTooltipTemplate let-model="model">
      <div class="table series-tooltip">
        <div class="table-body">
          <ng-container *ngFor="let item of model | sort: modelSorter">
            <div class="table-row">
              <div class="table-cell">
                <div [style.background-color]="item.color" class="color-box"></div>
              </div>
              <div class="table-cell">
                {{item.series}}:
              </div>
              <div class="table-cell">
                <span class="value">{{item.value}}</span>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-template>
  </ngx-charts-line-chart>
</div>

<p *ngIf="!hasData && !isDoingRequest">No data found.</p>
