mat-spinner {
  display: inline-block;
  vertical-align: middle;
}

.tooltip {
  text-align: center;
  margin: 0.2rem;
}

.tooltip-date {
  font-size: 0.8rem;
  font-style: italic;
}

.tooltip-name {
  font-weight: bold;
}

.tooltip-bullet {
  margin: 0;
}

.tooltip-value {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem;
}
