<div>
  <p>Time Delta: {{formattedDurationDelta}}</p>

  <app-setting placeholder="Sample Count"
               type="number"
               [validationResultObservable]="sampleCountValidationObservable"
               [(data)]="sampleCount"
               [ngStyle]="settingNgStyle"></app-setting>

  <app-setting placeholder="Timespan [H]"
               type="number"
               [validationResultObservable]="totalDurationValidationObservable"
               [(data)]="totalDuration"
               [ngStyle]="settingNgStyle"></app-setting>

  <button mat-button
          *ngIf="canSearch"
          [disabled]="isDoingRequest"
          (click)="collectData()">
    <mat-icon>refresh</mat-icon>
    <span>Refresh</span>
  </button>
  <ng-container *ngIf="isDoingRequest">
    <button mat-button
            (click)="cancelRequest()">
      <mat-icon>cancel</mat-icon>
      <span>Cancel Request</span>
    </button>
    <mat-spinner diameter="25"></mat-spinner>
  </ng-container>
</div>

<div *ngIf="hasData">
  <h1 class="mat-title">{{title}}</h1>

  <ngx-charts-bar-vertical-stacked #chart
                                   [results]="chartData"
                                   [view]="[1000, 600]"
                                   [gradient]="false"
                                   [legend]="true"
                                   [xAxis]="true"
                                   [yAxis]="true"
                                   xAxisLabel="Datetime"
                                   yAxisLabel="Mail Count"
                                   [xAxisTicks]="xAxisTicks"
                                   [xAxisTickFormatting]="xAxisTickFormatting"
                                   [yAxisTickFormatting]="yAxisTickFormatting">
    <ng-template #tooltipTemplate let-model="model">
      <p class="tooltip">
        <span class="tooltip-date">{{xAxisTickFormatting(model.series)}}</span>
        <!-- Fullwidth Vertical Line: https://www.compart.com/en/unicode/U+FF5C -->
        <span> &#xFF5C; </span>
        <span class="tooltip-name">{{model.name}}</span>
      </p>
      <p class="tooltip-value">{{model.value}}</p>
    </ng-template>
  </ngx-charts-bar-vertical-stacked>
</div>

<p *ngIf="!hasData && !isDoingRequest">No data found.</p>
