<h2 mat-dialog-title>{{applyButtonLabel}} Card</h2>

<mat-dialog-content>
  <mat-form-field *ngIf="isInDefaultView">
    <input matInput placeholder="Card Title" [formControl]="cardTitleForm">
  </mat-form-field>

  <ng-container *ngIf="hasTitle || hasChildren">
    <ng-container *ngIf="isInDefaultView">
      <mat-divider></mat-divider>
      <p class="mat-subheading-2 inline">Children</p>
      <mat-list *ngIf="hasChildren">
        <mat-list-item *ngFor="let child of children"
                       class="mat-body-1">
          {{child.title}}
          <ng-container *ngIf="child.domainOnly"> | Domain Only</ng-container>
          <div class="child-actions">
            <div class="spacer"></div>
            <button mat-icon-button
                    [disabled]="!isInDefaultView"
                    (click)="editChild(child)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button
                    [disabled]="!isInDefaultView"
                    (click)="removeChild(child)">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </mat-list-item>
      </mat-list>

      <button id="add-child-button" *ngIf="isInDefaultView"
              (click)="addChild()"
              mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </ng-container>

    <div [hidden]="isInDefaultView">
      <mat-form-field>
        <input matInput placeholder="Child Title" [formControl]="childTitleForm">
      </mat-form-field>

      <mat-form-field>
        <mat-select [(value)]="childField">
          <mat-option *ngFor="let field of fields" [value]="field">{{field}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-slide-toggle [(ngModel)]="childIsDomainOnly">Domain Only</mat-slide-toggle>
      <search-mask [additionalButtons]="additionalSearchMaskButtons"
                   [showDateTime]="false"
                   (onSearchClick)="applySearchMaskResult($event)"></search-mask>
    </div>
  </ng-container>
</mat-dialog-content>

<ng-container *ngIf="isInDefaultView">
  <mat-divider></mat-divider>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button mat-button
            *ngIf="hasTitle && hasChildren"
            (click)="applyCard()">{{applyButtonLabel}} Card
    </button>
  </mat-dialog-actions>
</ng-container>
